﻿@model Lanche

<div class="container">
    <div class="row">
        <div class="card">
            <div class="text-center">
                <img src="@Model.ImagemUrl" class="img-fluid" alt="" />
            </div>

            <div class="card-block">
                <h2 class="card-title">@Model.Nome</h2>
                <p class="card-text"><h5>@Model.DescricaoDetalhada</h5></p>

                <p class="btn btn-group align-content-lg-end">

                    <a class="btn btn-outline-info" id="listButton"
                       asp-controller="Lanche" asp-action="List">Ver todos os lanches
                    </a>

                    <a class="btn btn-primary" id="cartButton" asp-controller="CarrinhoCompra"
                       asp-action="AdicionarItemNoCarrinhoCompra" asp-route-lancheId="@Model.LancheId">Adicionar @Model.Nome ao Carrinho
                    </a>

                    <a class="btn btn-outline-secondary" id="homeButton"
                        asp-action="Index" asp-controller="Home">Voltar para página inicial
                        
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>