﻿<br />
<img src="~/images/negado1.jpg" alt="Área de Administração" class="marginTop1" />
<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Acesso não autorizado</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-secondary">Voltar para Home Page</a>
</div>