﻿@model LoginViewModel

<table class="table">
    <tr>
        <td><img src="~/images/icons8-adicionar-usuário-masculino-48.png" alt="Registrar Usuário" /></td>
        <td>
            <div class="row">
                <div class="col-10 col-md-10 col-lg-10">
                    <h4>Registrar usuário</h4>
                    <form asp-controller="Account" asp-action="Register" method="post">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserName"> </label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" class="btn btn-outline-success" value="Registrar" />
                        </div>
                    </form>
                </div>
            </div>
        </td>
    <tr>
</table>